force-app/main/default/flows/Note_Taker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <name>Do_i_have_notes</name>
        <label>Do i have notes?</label>
        <locationX>518</locationX>
        <locationY>372</locationY>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other_Notes</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_activity</targetReference>
            </connector>
            <label>Yup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_follow_up_requested</name>
        <label>Is follow up requested?</label>
        <locationX>740</locationX>
        <locationY>581</locationY>
        <defaultConnectorLabel>No follow up requested</defaultConnectorLabel>
        <rules>
            <name>Yes_follow_up_requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_like_a_follow_up_on</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_follow_up_task</targetReference>
            </connector>
            <label>Yes, follow up requested</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ServiceLevelChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Level__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>NoteTitle</name>
        <dataType>String</dataType>
        <expression>&quot;This note was taken on &quot; &amp; TEXT({!Demo_Date_Time})</expression>
    </formulas>
    <interviewLabel>Note Taker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Note Taker</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_activity</name>
        <label>Create activity</label>
        <locationX>748</locationX>
        <locationY>374</locationY>
        <connector>
            <targetReference>Is_follow_up_requested</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Other_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>NoteTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_follow_up_task</name>
        <label>Create follow up task</label>
        <locationX>1095</locationX>
        <locationY>572</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Would_like_a_follow_up_on</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Follow up from demo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Note_Record</name>
        <label>Create Note Record</label>
        <locationX>1158</locationX>
        <locationY>101</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>Other_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>NoteTitle</elementReference>
            </value>
        </inputAssignments>
        <object>Note</object>
    </recordCreates>
    <recordLookups>
        <name>Get_previous_values</name>
        <label>Get previous values</label>
        <locationX>107</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Demo_Notes</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>ExistingOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Service_Level__c</queriedFields>
        <queriedFields>License_Count__c</queriedFields>
        <queriedFields>Primary_Contact_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>319</locationX>
        <locationY>370</locationY>
        <connector>
            <targetReference>Do_i_have_notes</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>License_Count__c</field>
            <value>
                <elementReference>License_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact_Name__c</field>
            <value>
                <elementReference>Primary_Contact_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Level__c</field>
            <value>
                <elementReference>Service_Level</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Demo_Notes</name>
        <label>Demo Notes</label>
        <locationX>153</locationX>
        <locationY>370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Demo_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Demo Date / Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Primary_Contact_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExistingOpportunity.Primary_Contact_Name__c</elementReference>
            </defaultValue>
            <fieldText>Primary Contact Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>License_Count</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ExistingOpportunity.License_Count__c</elementReference>
            </defaultValue>
            <fieldText>License Count</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Service_Level</name>
            <choiceReferences>ServiceLevelChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;The existing value is {!ExistingOpportunity.Service_Level__c}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Would_like_a_follow_up_on</name>
            <dataType>Date</dataType>
            <fieldText>Would like a follow up on</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Notes</name>
            <fieldText>Other Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_previous_values</startElementReference>
    <status>Draft</status>
    <variables>
        <name>ExistingOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
